
# BEGIN CompressX
# Käsud (read) "BEGIN CompressX" ja "END CompressX" vahel on
# dünaamilselt genereeritud ja neid tuleks muuta üksnes WordPressi filtrite abil.
# Kõik muudatused nende kahe markeri vahel kirjutatakse üle.

# END CompressX